Test/SadadPayment/SadadPayment/SadadInsertPayment/Service References/ServiceReference1/ijaraMessagingGateway3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SendSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensePlateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSMS" nillable="true" type="SendSMS" />
  <xs:complexType name="SendMail">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensePlateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomSubjectHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMail" nillable="true" type="SendMail" />
  <xs:complexType name="SendSRSms">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SadadReferenceNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSRSms" nillable="true" type="SendSRSms" />
  <xs:complexType name="SendSREmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomSubjectHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SadadReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerIBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSREmail" nillable="true" type="SendSREmail" />
  <xs:complexType name="SendSaleSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DownPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualAccntNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SADADRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Totalamount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carbrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numberplate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSaleSMS" nillable="true" type="SendSaleSMS" />
  <xs:complexType name="SendSaleEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DownPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomSubjectHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualAccntNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SADADRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Totalamount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carbrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numberplate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSaleEmail" nillable="true" type="SendSaleEmail" />
  <xs:complexType name="SendPOSSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referencenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendPOSSMS" nillable="true" type="SendPOSSMS" />
  <xs:complexType name="SendBulkEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecipientsTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomSubjectHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsCc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendBulkEmail" nillable="true" type="SendBulkEmail" />
</xs:schema>