Test/SadadPayment/SadadPayment/SadadInsertPayment/Service References/ServiceReference1/ijaraMessagingGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ijaraMessagingGateway" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.230/ijaraMessagingGateway.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.230/ijaraMessagingGateway.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.230/ijaraMessagingGateway.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://192.168.0.230/ijaraMessagingGateway.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MessagingGateway" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IijaraMessagingGateway_SendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendEMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEMail" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendEMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEMailResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSRSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSRSms" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSRSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSRSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSREmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSREmail" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSREmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSREmailResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSaleSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSaleSMS" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSaleSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSaleSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSaleEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSaleEmail" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendSaleEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSaleEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendPOSSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPOSSMS" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendPOSSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPOSSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOTP" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendBulkEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBulkEmail" />
  </wsdl:message>
  <wsdl:message name="IijaraMessagingGateway_SendBulkEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBulkEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IijaraMessagingGateway">
    <wsdl:operation name="SendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSMS" message="tns:IijaraMessagingGateway_SendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSMSResponse" message="tns:IijaraMessagingGateway_SendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendEMail" message="tns:IijaraMessagingGateway_SendEMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendEMailResponse" message="tns:IijaraMessagingGateway_SendEMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSRSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSRSms" message="tns:IijaraMessagingGateway_SendSRSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSRSmsResponse" message="tns:IijaraMessagingGateway_SendSRSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSREmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSREmail" message="tns:IijaraMessagingGateway_SendSREmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSREmailResponse" message="tns:IijaraMessagingGateway_SendSREmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSaleSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSaleSMS" message="tns:IijaraMessagingGateway_SendSaleSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSaleSMSResponse" message="tns:IijaraMessagingGateway_SendSaleSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSaleEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSaleEmail" message="tns:IijaraMessagingGateway_SendSaleEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendSaleEmailResponse" message="tns:IijaraMessagingGateway_SendSaleEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPOSSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendPOSSMS" message="tns:IijaraMessagingGateway_SendPOSSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendPOSSMSResponse" message="tns:IijaraMessagingGateway_SendPOSSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendOTP" message="tns:IijaraMessagingGateway_SendOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendOTPResponse" message="tns:IijaraMessagingGateway_SendOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBulkEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendBulkEmail" message="tns:IijaraMessagingGateway_SendBulkEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IijaraMessagingGateway/SendBulkEmailResponse" message="tns:IijaraMessagingGateway_SendBulkEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IijaraMessagingGateway" type="tns:IijaraMessagingGateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEMail">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendEMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSRSms">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendSRSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSREmail">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendSREmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSaleSMS">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendSaleSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSaleEmail">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendSaleEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPOSSMS">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendPOSSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkEmail">
      <soap:operation soapAction="http://tempuri.org/IijaraMessagingGateway/SendBulkEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ijaraMessagingGateway">
    <wsdl:port name="BasicHttpBinding_IijaraMessagingGateway" binding="tns:BasicHttpBinding_IijaraMessagingGateway">
      <soap:address location="http://192.168.0.230/ijaraMessagingGateway.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>