Test/SadadPayment/SadadPayment/SadadInsertPayment/Service References/ServiceReference1/ijaraMessagingGateway.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessagingGateway" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessagingGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IjarahOTPSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensePlateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SadadReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IjarahOTPSMS" nillable="true" type="tns:IjarahOTPSMS" />
</xs:schema>